{% extends 'TopxiaWebBundle:Default:layout.html.twig' %}

{% block content %}

<div class="es-row-wrap container-gap">

  {% if blocks.home_top_banner %}
    <div class="homepage-feature homepage-feature-slides mbl">
      <div class="cycle-pager"></div>
      {{ blocks.home_top_banner|raw }}
    </div>
  {% endif %}
  
  <div class="row row-9-3">
    <!-- 课程开始 -->
    <div class="col-xs-9">
      <div class="es-box">
        <div class="es-box-heading"><h2>课程</h2></div>
        <div class="es-box-body">
          {% if courses %}
            {{ render(controller('TopxiaWebBundle:Course:coursesBlock', {courses:courses, view: 'grid'})) }}
            {% if courses|length >= 12 %}
              <a class="btn btn-default btn-lg btn-block" href="{{ path('course_explore') }}">更多课程</a>
            {% endif %}
          {% else %}
            <div class="empty">还没有发布的课程</div>
          {% endif %}
        </div>
      </div>
    </div>
    <!-- 课程结束 -->
    
    <div class="col-xs-3">
      <!-- 为什么选择易雅就英语 start -->
		<div class="es-box">
			<div class="es-box-heading"><h2>为什么选择129en</h2></div>
				<ul class="color-555">
				<li>
					<dl>
						<dt>教师</dt>
						<dd>我们选择的教师...</dd>
					</dl>
				</li>
				<li>
					<dl>
						<dt>课程</dt>
						<dd>我们的课程体系...</dd>
					</dl>
				</li>
				<li>
					<dl>
						<dt>平台</dt>
						<dd>我们的教学平台...</dd>
					</dl>
				</li>	
				</ul>			
		</div>
		<!-- 为什么选择易雅就英语 end -->

      {{ render(controller('TopxiaWebBundle:Default:latestReviewsBlock',{number:5})) }}
      <div class="es-box">
			<div class="es-box-heading"></div>
			<div class="center-block">
                <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=276049020&site=qq&menu=yes">
                    <img src="{{ asset('assets/img/qq2.gif') }}" alt="点击这里给我发消息" title="点击这里给我发消息"/>
                </a>
      		</div>
	  </div>

    </div>

  </div>

  <div class="row"><div class="col-xs-12"></div></div>

</div>
{% endblock %}
