{% extends 'TopxiaWebBundle:MyCourse:layout.html.twig' %}

{% block title %}学习中 - {{ parent() }}{% endblock %}

{% set tab_nav = 'learning' %}

{% block main %}
	<div class="panel panel-default panel-col">
	  <div class="panel-heading">我的课程</span></div>
	  <div class="panel-body">
{#
  		  	 {% include 'TopxiaWebBundle:MyCourse:nav-pill.html.twig' %}
#}
	  	 {% if courses %}
        <!-- Nav tabs -->
        <ul class="nav nav-tabs">
            {% set ind = 0 %}
            {% for course in courses %}
            {% set ind = ind + 1 %}
            <li {% if 1 == ind %} class="active" {% endif %}><a href="#course-{{ course.id }}" data-toggle="tab">{{ course.title }}</a></li>
            {% endfor %}
        </ul>

        <div class="well">
        <!-- Tab panes -->
        <div class="tab-content">
            {% set ind1 = 0 %}
            {% for course in courses %}
            {% set ind1 = ind1 + 1 %}
            <div class="tab-pane {% if 1 == ind1 %} active {% endif %}" id="course-{{ course.id }}">
            {% if courseBookings[course.id] %}
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>日期</th>
                        <th>时间</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                {% set ind = 0 %}
                {% for booking in courseBookings[course.id] %}
                {% set ind = ind + 1 %}
                    <tr>
                        <th>{{ ind }}</th>
                        <th>{{ booking.dateTS | date("m-d")}}</th>
                        <th>{{ booking.timeTS | time }}</th>
    {# 进入教室的逻辑，上课前10分钟有效，不到上课时间显示其他同学正在使用教室，到达上课时间就能进入教室了，可以重复进入；课程结束后，关闭按钮；#}
                        <th><button type="button" class="btn btn-primary">进入教室</button></th>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {% else %}
                <div class="empty">暂无该课程的预约历史</div>
            {% endif %}
            </div>
            {% endfor %}
        </div>
        </div>
        {#
		     {{ render(controller('TopxiaWebBundle:Course:coursesBlock', {courses:courses, view: 'grid', mode:'learn'})) }}
				{{ web_macro.paginator(paginator) }} 
        #}
		  {% else %}
		    <div class="empty">暂无学习中的课程</div>
		  {% endif %}
	  </div>
	</div>

{% endblock %}




