{% extends 'TopxiaAdminBundle:Course:layout.html.twig' %}

{% block title %}排课管理 - {{ parent() }}{% endblock %}

{% set script_controller = 'course/arrange' %}

{% set menu = 'course-arrange' %}

{% block main %}
  <div class="page-header">
    <h1>排课管理</h1>
  </div>
  
	<div class="well">
		<h4>上课日期</h4>
		<ul class="nav nav-pills"  id="course-date-ul">
		{% for i in 1..7 %}
			<li class="course-date {% if 1 == i %} active {% endif %}" data-value="{{ nthDay[i] }}" data-url="{{ path('admin_course_getTimes') }}"><a href="javascript:void(0)">{{ courseDate[nthDay[i]] }}</a></li>
		{% endfor %}
		</ul>
  	</div>
  	
	<div class="well">
		<h4>上课时间</h4>
		<ul class="nav nav-pills" id="course-time-ul">
        {% for timestamp1 in timeStamps %}
		    <li class="course-time" data-value="{{ timestamp1 }}" data-url="{{ path('admin_course_getScheduleInfo') }}"><a href="javascript:void(0)">{{ timestamp1|time }}</a></li>
        {% endfor %}
		</ul>
  	</div>

    <div class="well" id="result-div"> </div>
{% endblock %}
